<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="15" >
    <title>Weather Status</title>
</head>
<body>
<tr>
    <td><b>Wind</b></td>
    <td> : </td>
    <td>{{.wind}} ({{.windStatus}})</td>
</tr>
<br>
<tr>
    <td><b>Water</b></td>
    <td> : </td>
    <td>{{.water}} ({{.waterStatus}})</td>
</tr>

<br>
<br>
Last update on {{.lastUpdate}}
</body>
</html>